/* variables */
:root {
    --black-clr: black;
    --white-clr: white;
    --green-clr: #90c74b;

}


/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.small__container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.primary__button {
    background-color: var(--green-clr);
    padding: 0.5rem 1rem;
    border-radius: 999px;
    border: none;
    outline: none;
    transition: 0.3s;
    font-weight: 600;
    display: inline-block;
}

.primary__button:hover {
    scale: 1.03;
    background-color: var(--white-clr);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}


.secondary__button {
    background-color: var(--black-clr);
    padding: 0.5rem 1rem;
    border-radius: 999px;
    border: none;
    outline: none;
    transition: 0.3s;
    font-weight: 600;
    display: inline-block;
}

.secondary__button:hover {
    background-color: var(--green-clr);
    scale: 1.03;

}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}



.formate__text {
    animation-name: move__up;
    animation-timeline: view(30% 0%);
}

@keyframes move__up {
    from {
        transform: translateY(200px);
        opacity: 0;
        scale: 0.8;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
        scale: 1;
    }
}

/* specific styles */

body {
    font-family: "Figtree", sans-serif;
}

header {
    background-color: var(--green-clr);
    padding: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

nav {
    background-color: var(--black-clr);
    z-index: 999;
    position: sticky;
    top: 0;
}

.menu__button {
    margin-right: 10px;
    display: none;
}

.logo img {
    width: 100px;
}

nav .content__container {
    color: var(--white-clr);
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.nav__right {
    flex: 1 1 70%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav__right li {
    padding: 0.8rem 1rem;
    transition: 0.3s;
    cursor: pointer;
}

nav .primary__button {
    color: var(--black-clr);
}

.nav__right .drop__down__menu {
    position: absolute;
    top: 100%;
    margin-top: 2px;
    background-color: black;
    width: 160px;
    height: 0;
    overflow: hidden;
    text-align: start;
    border-radius: 10px;
    transition: 0.3s;
}

.nav__right .drop__down__button span {
    transition: 0.3s;
}

.nav__right li .drop__down__button:hover span {
    transform: rotate(180deg);
}

.nav__right li:hover .drop__down__menu {
    height: 100px;
}

.nav__right .menu__options:hover {
    color: var(--green-clr);
    scale: 1.1;
}


.nav__right .drop__down__menu li:hover {
    background-color: rgb(77, 75, 75);

}


/* side anv bar */

.side__nav__bar {
    background-color: var(--black-clr);
    width: 0;
    overflow: hidden;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: 0.5s;

}

.side__nav__bar ul {
    width: 100%;
}

.side__nav__bar li {
    cursor: pointer;
}

.side__nav__bar .menu__options,
.side__nav__bar .drop__down__button {
    width: 100%;
    padding: 1rem;
    transition: 0.3s;
    text-align: start;

}

.side__nav__bar .menu__options:hover {
    color: var(--green-clr);
}


.side__nav__bar .primary__button {
    margin-top: 1rem;
}

.side__nav__bar .drop__down__menu li {
    padding: 0.5rem;
    background-color: gray;
    transition: 0.3s;
}

.side__nav__bar .drop__down__menu li:hover {
    background-color: rgb(74, 72, 72);
}

.side__nav__bar .drop__down__menu {
    height: 0;
    overflow: hidden;
    transition: 0.3s;
}

.side__nav__bar li:hover .drop__down__menu {
    height: 100px;
}



/* main section */

.main__section {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('  images/nstp-main-img.webp');
    width: 100%;
    min-height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 50px;
}

.main__section .content__container {
    display: grid;
    grid-template-columns: auto auto;
    height: 80vh;

}

.main__section .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__section .box-1 {
    grid-column: 1 / span 2;
}

.main__section .box-1 h1 {
    font-size: 45px;
    font-family: "Libre Baskerville", serif;
    letter-spacing: 1.1px;
    color: var(--green-clr);
}

.main__section .box-1 i {
    font-size: 25px;
    color: var(--white-clr);
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.main__section .box-1 p,
.main__section .box-2 p {
    font-size: 20px;
    color: var(--white-clr);
}


.main__section .box-2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    align-items: center;
    align-items: center;
    color: white;
}


.main__section .box-2 h2 {
    font-size: 65px;
    color: var(--green-clr);
}

.main__section sup {
    vertical-align: text-top;
    font-size: 20px;


}

.main__section .box-3 {
    justify-content: center;
    align-items: center;

}

.main__section .box-3 .img__container {
    animation: spin 15s linear infinite;
}

.main__section .box-3 img {
    width: 250px;
}

.main__section .box-3 .text svg {
    width: 24px;
    height: 24px;
}

.main__section .box-3 .text:hover svg {
    scale: 1.1;
    transition: 0.3s;
}

.main__section .box-3 .text {
    transition: 0.3s;
}

.main__section .box-3 .text:hover {
    scale: 1.1;
    font-weight: 800;
    color: var(--green-clr);
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.main__section .box-3 .text {
    color: white;

    position: absolute;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* cutting edge */

.cutting-edge .content__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.cutting-edge .vedio__container,
.cutting-edge .text__container {
    flex: 1 1 45%;
    border-radius: 20px;
    overflow: hidden;
    max-width: 550px;
    object-fit: cover;

}

.cutting-edge video {
    width: 100%;
}

.cutting-edge h1 {
    font-size: 35px;
    color: var(--black-clr);
    font-weight: 800;
}

.cutting-edge span {
    color: transparent;
    -webkit-text-stroke: 1px black;
}

.cutting-edge p {
    margin-top: 10px;
    color: gray;
}

.cutting-edge .secondary__button {
    color: var(--white-clr);
    margin-top: 10px;
    margin-left: 5px;
}





/* what we offer */


.offer {
    margin-top: 100px;
}

.offer>h1 {
    text-align: center;
    text-transform: capitalize;
    font-family: "Libre Baskerville", serif;
    font-size: 55px;
    font-weight: 1000;
}

.offer span {

    -webkit-text-stroke: 1px var(--black-clr);
    color: transparent;
}

.offer p {
    text-align: center;
    color: gray;
    margin-top: 10px;
}

.offer .box__container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.offer .box {
    flex: 1 1 25%;
    border-radius: 10px;
    min-height: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.offer .box::after {
    content: '';
    width: 0;
    height: 6px;
    background-color: #90c74b;
    display: block;
    transition: 0.5s;
    align-self: flex-start;
}

.offer .icon__container {
    position: relative;
    margin-top: 30px;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.offer .icon__container::before {
    content: url('');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: 0.5s;
    height: 100%;
    display: block;
    background-color: #90c74b;
    z-index: -1;

}

.offer .box:hover .icon__container::before {
    transform: rotate(45deg);
    scale: 1.05;
}

.offer .box:hover::after {
    width: 100%;
}

.offer .box h1 {
    font-size: 24px;
    transition: 0.5s;
    color: #90c74b;
}

.offer .box:hover h1 {
    color: black;
}

.offer .text__container {
    width: 100%;
    min-height: 100px;

}

.offer svg {
    color: white;
    text-align: center;

}






/* life at nust */

.life__at__nust>h1 {
    text-align: center;
    text-transform: capitalize;
    font-family: "Libre Baskerville", serif;
    font-size: 55px;
    font-weight: 1000;
}

.life__at__nust span {

    -webkit-text-stroke: 1px var(--black-clr);
    color: transparent;
}

.life__at__nust {
    overflow: hidden;
    margin-top: 50px;
}

.life__at__nust .gallery {

    margin-top: 20px;
    display: flex;
    width: calc(300px * 14);
    flex-direction: row;
    gap: 10px;

}

.auto__slider {

    animation: auto__slider 20s infinite linear;
}

@keyframes auto__slider {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(calc(0%));
    }

}

.life__at__nust .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}


.life__at__nust img {
    width: 300px;
    border-radius: 20px;
    height: 100%;
    object-fit: 100% 100%;
    object-position: center;
}



/* companies */

.companies {
    background-color: var(--black-clr);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
}

.companies .content__container {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align: center;
}

.companies h1 {
    font-size: 45px;
    font-weight: 800;
}

.companies span {
    -webkit-text-stroke: 1px white;
    color: transparent;
}

.companies .box__cotainer {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.companies .box {
    max-width: 200px;
    flex: 1 1 20%;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(42, 41, 41);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.companies img {
    width: 70%;

}

.companies .logos {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 45, 45);
    transition: 0.5s;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}


.companies .box:hover .logos {
    height: 100%;
}



/* parteners */

.partners {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    overflow: hidden;

}

.partners h1 {
    font-size: 45px;
    font-weight: 800;
    text-align: center;
}

.partners span {
    -webkit-text-stroke: 1px var(--black-clr);
    color: transparent;
}

.partners .secondary__button {
    color: var(--white-clr);
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    align-self: center;
}

.partners .secondary__button>p {
    font-size: 20px;
}

.partners p {
    display: inline;
}

.partners .secondary__button svg {
    margin-top: 5px;
}

.partners .box__container {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    justify-content: start;
    width: calc(200px * 16);
    background-color: rgb(234, 234, 234);

}

.partners img {
    width: 80%;
}

.partners .box {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.partners .auto__slider__partners {

    animation: auto__slider__partners 20s infinite linear;
}


@keyframes auto__slider__partners {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(calc(0%));
    }

}



.partners img {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    transition: 0.3s;
}

.partners img:hover {
    filter: grayscale(0%);
    scale: 1.2;
}




footer {
    background-color: var(--black-clr);
    padding: 20px 10px;

    margin-top: 100px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    color: var(--white-clr);
    text-transform: capitalize;
}

.footer__top {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer .column {
    gap: 20px;
    flex: 1 1 20%;

}

.footer__top p {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.3s;
}

.footer .logo img {
    width: 120px;
}

.footer h1 {
    text-decoration: underline;
    text-decoration-color: var(--green-clr);
    text-decoration-thickness: 1px;
    text-underline-offset: 10px;
    font-size: 28px;
}

.footer hr {
    outline: none;
    border: none;
    height: 1px;
    background-color: var(--green-clr);
    margin-top: 40px;
    margin-bottom: 40px;
}


footer span {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 50%;
    background-color: var(--green-clr);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    margin-bottom: 50px;
}

.footer__bottom div {
    display: flex;
    gap: 10px;
}

.footer__bottom span {
    background-color: black;
    border: 1px solid var(--white-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.footer__bottom span:hover {
    border: 1px solid var(--green-clr);
    scale: 1.2;
    color: var(--green-clr);
}

.footer__top p:hover {
    color: var(--green-clr);
    scale: 1.1;
}








@media(max-width:1100px) {
    .logo img {
        width: 90px;
    }

    .nav__right li {
        padding: 0.8rem 0.5rem;
    }
}

@media(max-width:1000px) {
    .menu__button {
        display: block;
    }

    .nav__right {
        display: none;
    }

    .cutting-edge .vedio__container {
        flex: 1 1 30%;
    }

    .cutting-edge .text__container {
        flex: 1 1 60;
    }

    .companies h1 {
        font-size: 40px;
    }
}

@media(max-width:900px) {
    .main__section .box-1 h1 {
        font-size: 40px;
    }

    .main__section .box-1 i {
        font-size: 22px;
    }

    .main__section p {
        font-size: 18px;
    }

    .main__section .box-2 h2 {
        font-size: 55px;
    }

    .main__section .box-3 img {
        width: 200px;
    }

    .cutting-edge h1 {
        font-size: 25px;
    }

    .offer .box h1 {
        font-size: 22px;

    }

    .offer>h1,
    .life__at__nust>h1 {
        font-size: 50px;
    }

    .companies h1 {
        font-size: 38px;
    }

    .partners h1 {
        font-size: 40px;
    }

    .footer h1 {
        font-size: 25px;
    }

    .footer p {
        font-size: 14px;
    }

}

@media(max-width:800px) {

    .cutting-edge .vedio__container,
    .cutting-edge .text__container {
        flex: 1 1 90%;
    }

    .offer>h1,
    .life__at__nust>h1 {
        font-size: 45px;
    }

    .companies h1 {
        font-size: 35px;
    }

    .companies p {
        font-size: 14px;
    }

    .partners .box {
        width: 180px;
    }

    .footer h1 {
        font-size: 22px;
    }

}

@media(max-width:700px) {
    .main__section .box-1 h1 {
        font-size: 35px;
    }

    .main__section .box-2 h2 {
        font-size: 45px;
    }

    .main__section .box-1 i {
        font-size: 19px;
    }

    .main__section p {
        font-size: 16px;
    }

    .main__section .box-3 img {
        width: 150px;
    }

    .offer .box h1 {
        font-size: 20px;

    }

    .offer>h1,
    .life__at__nust>h1 {
        font-size: 40px;

    }

    .companies h1 {
        font-size: 33px;
    }

    .partners h1 {
        font-size: 35px;
    }

    .partners .box {
        width: 150px;
    }

    .companies .box {
        flex: 1 1 30%;
        max-width: 180px;
    }

    .footer h1 {
        font-size: 20px;
    }

    .footer__top {
        gap: 50px;
    }

    .footer .column {
        gap: 20px;
        flex: 1 1 40%;
        justify-content: center;

    }

}

@media(max-width:600px) {
    .main__section .box-1 h1 {
        font-size: 30px;
    }

    .main__section .box-1 i {
        font-size: 17px;
    }

    .offer>h1 {
        font-size: 35px;
    }

    .offer .box {
        flex: 1 1 40%;
    }

    .companies h1 {
        font-size: 30px;
    }

}


@media(max-width:500px) {
    .main__section .box-1 h1 {
        font-size: 27px;
    }

    .main__section .box-2 h2 {
        font-size: 40px;
    }

    .main__section .box-1 i {
        font-size: 16px;
    }

    .main__section p {
        font-size: 14px;
    }

    .main__section .box-3 img {
        width: 130px;
    }

    .main__section .box-2 {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 0;
    }

    .offer>h1,
    .life__at__nust>h1 {
        font-size: 30px;
    }

    .companies h1 {
        font-size: 28px;
    }

    .partners h1 {
        font-size: 28px
    }


    .companies .box {
        flex: 1 1 40%;
        max-width: 180px;
    }

    .footer .logo {

        align-items: center;
    }

    .footer__top {
        gap: 30px;
    }

    .footer .column {
        gap: 20px;
        flex: 1 1 100%;
        justify-content: center;

    }
}



@media(max-width:400px) {
    .main__section .box-1 h1 {
        font-size: 24px;
    }

    .main__section .box-2 h2 {
        font-size: 35px;
    }

    .main__section .box-1 i {
        font-size: 15px;
    }

    .main__section p {
        font-size: 14px;
    }

    .main__section .box-3 img {
        width: 120px;
    }

    .main__section .box-2 {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 0;
    }

    .offer .box {
        flex: 1 1 100%;
    }

    .companies h1 {
        font-size: 22px;
    }

    .partners h1 {
        font-size: 22px;
    }

}